@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.5 "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #cc61e1;
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 2.5rem;
}

ul {
  list-style-type: none;
  margin-top: 0;
  text-align: center;
  padding-left: 0;
}

.navigation {
  text-align: center;
  display:inline-block;
}

.navigation a {
  text-decoration: none;
  color: #fff;
  display:inline-block;
  padding: 1rem;
}

img {
  width: 100%;
}

.tours {
  text-align: center;
  margin-bottom: 0;
  color: #fff;
  font-size: 2rem;
}

p {
  text-align: center;
  margin-top: 0;
  color: #fff;
}

.conebanner {
  position: relative;
}

.bannerwords {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%,-50%);
  color: #e1c507;

}

.icon {
  width: 25%;
}

.cake {
  position:relative;
}

.recipes {
  position: absolute;
  color: #fff;
  left: 50%;
  top: 50%;
  margin: 0;
  transform: translate(-50%,-50%);
  background-color: rgba(247,217,11, .4);
  padding: 1rem 2rem;
  border-radius: 8px;
}

.candytext {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0;
  transform: translate(-50%,-50%);
  background-color: rgba(247,217,11, .4);
  padding: 1rem 2rem;
  border-radius: 8px;
}

.candy {
  position: relative;
}

.btnbook {
  position: absolute;
  left: 50%;
  top: 80%;
  margin: 0;
  transform: translate(-50%,-50%);
  background-color: rgba(247,217,11, .4);
  padding: 1rem 2rem;
  border-radius: 8px;
}

.btnbook a {
  color: #fff;
  text-decoration: none;
}

.tastethedif {
  position: relative;
}

.tourtitle {
  position: absolute;
  left: 50%;
  top: 15%;
  margin: 0;
  transform: translate(-50%,-50%);
}

.tours {
  font-size: 2.5rem;
  padding: 0;
}

.kid {
  position: relative;
}

.familybiz {
  position: absolute;
  left: 50%;
  top: 15%;
  margin: auto;
  transform: translate(-50%,-50%);
  display: block;
}

.btn1 {
  display: inline-block;
  margin: 0  .5em  1em;
  max-width: 20em;
  padding: 1em;
  border: 3px solid #e2e2e2;
  border-radius: 10px;
  text-align: center;

}
